output/bias.txt
output/colore_custom_s1.fits
output/colore_dens_gaussian_0.dat
output/colore_dens_lightcone_0.dat
output/colore_imap_s1_nu000.fits
output/colore_imap_s1_nu001.fits
output/colore_imap_s1_nu002.fits
output/colore_imap_s1_nu003.fits
output/colore_imap_s1_nu004.fits
output/colore_isw_z000.fits
output/colore_kappa_z000.fits
output/colore_node0.dbg
output/colore_params.cfg
output/colore_srcs_s1_0.fits
output/dndz.txt
output/log.txt
output/nuTable.txt
output/params.cfg
output/pk.txt
output/tz.txt
output/wz.txt
glass_examples/1-basic/density.ipynb
glass_examples/1-basic/galaxy-redshift-distributions.ipynb
glass_examples/1-basic/lensing.ipynb
glass_examples/1-basic/matplotlibrc
glass_examples/1-basic/matter.ipynb
glass_examples/1-basic/photoz.ipynb
glass_examples/1-basic/shells.ipynb
glass_examples/2-advanced/cosmic_shear.ipynb
glass_examples/2-advanced/legacy-mode.ipynb
glass_examples/2-advanced/matplotlibrc
glass_examples/2-advanced/stage_4_galaxies.ipynb
scripts/__pycache__/apply_HILC.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_cl.cpython-310.pyc
scripts/__pycache__/compute_master.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_covariance.cpython-310.pyc
scripts/__pycache__/compute_decoupled_cl.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/cosine_smoothed_mask.cpython-310.pyc
scripts/__pycache__/generate_noise.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/sigma_noise.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_decoupled_cl.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/cosine_smoothed_mask.cpython-310.pyc
scripts/__pycache__/generate_noise.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/sigma_noise.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_decoupled_cl.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/cosine_smoothed_mask.cpython-310.pyc
scripts/__pycache__/generate_noise.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/sigma_noise.cpython-310.pyc
scripts/__pycache__/compute_alm_ilc.cpython-310.pyc
scripts/__pycache__/compute_decoupled_cl.cpython-310.pyc
scripts/__pycache__/compute_weights.cpython-310.pyc
scripts/__pycache__/cosine_smoothed_mask.cpython-310.pyc
scripts/__pycache__/generate_noise.cpython-310.pyc
scripts/__pycache__/mask_maps.cpython-310.pyc
scripts/__pycache__/sigma_noise.cpython-310.pyc
results/binned_empirical.npy
results/cl_ff.npy
results/cls_h_1.npy
results/cls_hi_uncorr.npy
results/contaminated_maps.npy
results/ff_maps.npy
results/fgds_binned.npy
results/hi_binned.npy
results/hi_maps.npy
results/noise_binned.npy
results/noise_nf.npy
results/SMICA_params.npy
results/smoothed_hi_maps.npy
results/smoothed_maps_1_nohi.npy
results/smoothed_maps_1_smallbeam.npy
results/smoothed_maps_1.npy
results/smoothed_maps_2.npy
results/smoothed_maps_3.npy
results/sync_maps.npy
results_2/sync_maps.npy
results_2/noise_nf.npy
results_2/hi_maps.npy
results_2/ff_maps.npy
results_2/contaminated_maps.npy
results_2/cls_hi_uncorr.npy
results_2/calibrated_hi_maps.npy
results_2/dec_empirical.npy
results_2/master_empirical.npy
Thesis/calibrated_hi_maps.npy
Thesis/cls_hi_uncorr.npy
Thesis/contaminated_maps.npy
Thesis/decoupled_fgds.npy
Thesis/decoupled_hi.npy
Thesis/decoupled_noise.npy
Thesis/ff_maps.npy
Thesis/hi_maps.npy
Thesis/master_fgds.npy
Thesis/master_hi.npy
Thesis/master_noise.npy
Thesis/noise_nf.npy
Thesis/smoothed_ff_maps.npy
Thesis/smoothed_hi_maps.npy
Thesis/smoothed_sync_maps.npy
Thesis/sync_maps.npy
